@charset "utf-8";

$color-blue : #0e8ecc;
$color-white: #ffffff;
$color-white-alt: #F9F9F9;
$color-white-darker: #f5f5f5;
$color-grey: #bbb;
$color-red: #E95E46;
$color-red-white: #ffcfc6;
$color-green: #20c320;
$color-green-darker: #1da21d;
$color-green-white: #d5f1d5;
$color-on-primary: #a2a3b7;

$primary-color: #1E1E2D;
$primary-color-alt: #2a3042;
$primary-accent-color: #1b1b28;
$secondary-color: #5D78FF;
$secondary-accent-color: #3d57dc;
$light-color: #EBEDF3;
$light-accent-color: #ecddf0;

$text-color: #333;
$title-color: #495057;
$description-color: #76838f;
$base-bg-color: #F2F3F8;

$sidemenu-title-color: #4c4e6f;